<div class="col-xs-12">
  <div class="page-header">
    <h4>関連商品</h4>
  </div>
</div>
<div class="row category-product">
  <% relations.each do |relation| %>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="productBox">
        <%= link_to potepan_product_path(relation.id) do %>
          <div class="productImage clearfix">
            <%= image_tag(relation.display_image.attachment(:large), alt: relation.name ) %>
          </div>
          <div class="productCaption clearfix">
            <h5><%= relation.name %></h5>
            <h3><%= relation.display_price %></h3>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
