<% provide(:title,@product.name) %>
<%= render 'light_section', product: @product %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <%= render 'single_product', product: @product %>
    </div>
    <div class="row productsContent">
      <%= render 'relation', relations: @relations %>
    </div>
  </div>
</section>